@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: hsl(240, 10%, 3.9%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #09090b;
    --foreground: hsl(0, 0%, 98%);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: start;
}
h1 {
  font-size: 2rem;
  margin: 0.5rem 0;
}
h2 {
  font-size: 1.5rem;
  line-height: calc(2 / 1.5);
  font-weight: 600;
  margin: 1rem 0;
}
h3 {
  font-size: 1.3rem;
  line-height: calc(2 / 1.5);
  font-weight: 600;
  margin: 1rem 0;
}
a {
  text-decoration: underline;
}
details > summary {
  cursor: pointer;
  text-align: center;
  list-style-type: '▶️';
}
details[open] > summary {
  cursor: pointer;
  text-align: center;
  list-style-type: '🔽';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
