@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #2f2f2f;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1A1A;
    --foreground: #fafafa;
  }
}
*/
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), sans-serif;
}
h1 {
  font-size: 2rem;
  margin: 0.5rem 0;
}
h2 {
  font-size: 1.5rem;
  line-height: calc(2 / 1.5);
  font-weight: 600;
  margin: 1rem 0;
}
h3 {
  font-size: 1.3rem;
  line-height: calc(2 / 1.5);
  font-weight: 600;
  margin: 1rem 0;
}
a {
  text-decoration: underline;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer components {
  .magicBorder {
    border-color: none;
    border-image: linear-gradient(94deg, #0090F7, #BA62FC, #F2416B, #F55600);
    border-image-slice: 1;
    border-style: solid;
    border-width: 1px;
  }
}